.titlecards {
  margin-top: 50px;
  margin-bottom: 30px;
}
.titlecards h2 {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 1.2rem;
}

.card_list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.card_list::-webkit-scrollbar {
  display: none;
}
.card_list img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
}
.card_list img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card_list .card {
  position: relative;
}
.card_list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
